/*reset style*/
abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video ,h5, h6, h3{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    margin: 0;
    padding: 0;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*common*/
.copy-right{
    position: absolute;
    bottom: 0px;
    height: 22px;
    line-height: 22px;
    font-size: 12px;
    color: #AAA;
    width: 100%;
}
.copy-right .cont{
    margin: 0 10px;
}
.copy-right .feedback{
    float: right;
    color: #AAA;
}
html, body, #app, .page{
    width: 100%;
    height: 100%;
}


/*page Home*/
.p-home{
    height:100%;
    flex-direction:column;
    align-items:center;
    justify-content:space-between;
    box-sizing:border-box;
}

.p-home .indro{
    padding:10px;
    color:#333;
    line-height:20pt;
    font-size:1rem;
}
.p-home .start{
    margin-top:40px;
    padding:20px;
}
.p-home button{
    width: 100%;
    font: bold 15px/30px arial,sans-serif;;
    display: block;
}
.p-home .history-meeting{
    margin-top: 25px;
    padding: 0 10px;
    color: #888;
    font-size: 0.8rem;
    text-align: center;
}
.p-home .history-meeting h6{
    text-align: left;
}
.p-home .history-meeting table{
    width: 100%;
    margin-top: 10px;
    border-collapse:separate;
    border-spacing:0px 10px;
}

/*page address*/
.p-address{
    margin-top: 60px;
}
.p-address form{
    display: flex;
}
.p-address input{
    font-family: sans-serif;
    font-weight: 100;
    letter-spacing: 0.01em;
    flex: 2;
    padding: .5em .6em;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    vertical-align: middle;
    box-sizing: border-box;
}
.p-address button{
    flex: 1;
    background: #1f8dd6;
    color: #fff;
    border: 1px solid #1f8dd6;
}
.p-address .sugg-address li{
    border-bottom: 1px solid #DFDFDF;
    padding: 10px 0;
}
.p-address .sugg-address li span{
    font-size: 10px;
    color: #888;
}

// 计算页面
.p-calcute{

}
.p-calcute .map-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
}
.p-calcute .btns{
    margin-top: 10px;
    display: flex;
}
.p-calcute button{
    flex: 1 ;
    line-height: 30px;
}
.p-calcute .amap-marker-content .duration{
    position: absolute;
    background-color: red;
    color: #FFF;
    font-size: 10px;
    top: -11px;
    width: 100%;
    text-align: center;
}
.p-calcute .amap-marker-content .icon{
    background-image: url(http://m.amap.com/img/navigation/mapicon_navigation.png?v=419f65df);
    background-size: 113px 35px;
    background-repeat: no-repeat;
    display: block;
    width: 25px;
    height: 35px; 
}
.p-calcute .amap-marker-content.des .icon{
    background-position: -44px 0;
}
.p-calcute .index{
    marign-top: 20px;
    text-align: center;
}
.p-calcute .rt{
    color: #555;
    position: relative;
}
.p-calcute .rt .head{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.p-calcute .rt .body{
    padding: 10px;
    padding-top: 72px;
}
.p-calcute .rt ul{
    overflow: auto;
}
.p-calcute .rt h3{
    font-weight: bold;
   padding: 10px; 
}
.p-calcute .rt .head li a{
    float: left;
    padding: 5px;
    color: #888;
}
.p-calcute .rt li a[href]{
    color: #444;
}
.p-calcute .rt li.current a{
    background-color: black;
    color: #FFF;
}
.p-calcute .body{
    height: 200px;
    overflow: none;
}
.p-calcute .go-home{
    float: right;
}
.p-calcute .item{
    padding: 10px 0;
    border-bottom: 1px dotted #DFDFDF;
}
.p-calcute .item a{
    display: block;
    text-decoration: none;
}
.p-calcute .item p{
    margin: 0;
    padding : 0;
    margin-top: 5px;
    font-size: 12px;
    color: #666;
}

/*p-feedback*/
.p-feedback{
    color: #888;
}
.p-feedback .intro{
    line-height: 24px;
}
.p-feedback .bd{
    padding: 10px;
}
.p-feedback .bd p{
    line-height: 24px;
}

/*p-error*/
.p-error  h3{
    text-align: center;
    margin-top: 10px;
}

.case{
  margin: 20px;
  text-align: center;
}
